<div class="container main">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1 page-guide" >
      <span>新規会員登録</span>
    </div>
  </div>
    <div class="row">
    <div class="customer-form  col-xs-10 col-xs-offset-1">
    <%= form_with model: @customer, url: customer_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>

        <table>
          <tr>
            <td><%= f.label :last_name, "名前" %></td>
            <td><%= f.label :last_name, "(姓)" %></td>
            <td><%= f.text_field :last_name, autofocus: true, class: "last_name" %></td>
            <td><%= f.label :first_name, "(名)" %></td>
            <td><%= f.text_field :first_name, autofocus: true, class: "first_name" %></td>
          </tr>
          <tr>
            <td><%= f.label :last_name_kana, "フリガナ" %></td>
            <td><%= f.label :last_name_kana, "(セイ)" %></td>
            <td><%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana" %></td>
            <td><%= f.label :first_name_kana, "(メイ)" %></td>
            <td><%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td></td>
            <td><%= f.text_field :email, autofocus: true, autocomplete: "email", class: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
            <td></td>
            <td><%= f.text_field :postal_code, autofocus: true, class: "postal_code",id:"postal_code" %></td>
          </tr>
          <tr>
            <td><%= f.label :address, "住所" %></td>
            <td></td>
            <td colspan="3"><%= f.text_field :address, autofocus: true, class: "address", id:"address" %></td>
          </tr>
          <tr>
            <td><%= f.label :phone_number, "電話番号(ハイフンなし)" %></td>
            <td></td>
            <td><%= f.text_field :phone_number, autofocus: true, class: "phone_number" %></td>
          </tr>
          <tr>
            <td>
              <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
            </td>
            <td></td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
            <td></td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
        </table>
      </div>
      </div>
      <div class="actions wide-btn">
        <%= f.submit "新規登録", class: "btn btn-success center-block" %>
      </div>
    <% end %>
    <div class="another-link">
      <div class="row">
      <div class="col-xs-3 col-xs-offset-1 page-guide" >
        <span>既に登録済みの方</span>
      <p class="p-login">
        <%= link_to "こちら", new_session_path(resource_name)  %>
        からログインしてください。
      </p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
