<div class="container main">
  <div class="row">
    <div clss="col-xs-3 col-xs-offset-1">
    	<div class="new-heading ">
    		<h3>商品新規登録</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <%= form_with model: @item, url: admin_items_path, local: true do |f| %>

      <div class="col-xs-12 col-xs-offset-3">
        <dl class="new-form">
          <div class="item-new-form">
          	<div class="field">
              <dt>商品画像</dt>
              <dd><%= f.attachment_field :image %></dd>
            </div>

            <div class="field">
              <dt>商品名</dt>
              <dd><%= f.text_field :name %></dd>
            </div>

            <div class="field">
              <dt>商品説明</dt>
              <dd><%= f.text_area :introduction, size:"25x5" %></dd>
            </div

            <div class="field">
              <dt>税込価格</dt>
              <dd><%= f.text_field :price %>円</dd>
            </div
          </div>
        </dl>
      </div>
      <div class="col-xs-3 col-xs-offset-5">
      	<div class= "btn-down">
      		<%= f.submit "新規登録", class: "btn btn-primary", style:"width:150px;height:50px;font-size:17px;font-weight:bold;" %>

      	</div>

      </div>
    <% end %>


  </div>
</div>