<div class="container">

  <div clas="row">
      <div class="show-customer-hedding">
        <h3>
          <span><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span>
        </h3>
    </div>
  </div>

  <div class="col-xs-9">

    <table class="table-customer">

      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>

      <tr>
        <th>氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>

      <tr>
        <th>フリガナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>

      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.is_active == true %>
              <span class="effect">有効</span>
              <%else%>
              退会済み
            <%end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-primary" %>
      </div>
      <div class="col-xs-2">
      <%= link_to "注文履歴一覧を見る", admin_orders_personal_path(@customer.id), class: "btn btn-primary-g" %>
    </div>
  </div>

</div>
