<div class="container main">

  <div class="row">

    <div class="head-box">
      <div class = "col-md-8 col-md-offset-1">
        <div class = "headbox page-title">
          <span>注文履歴詳細</span>
        </div>
        <table>
          <tr>
            <th>購入者</th>
            <td>
              <%= link_to admin_customer_path(@order.customer) do %>
              <%= @order.customer.last_name %><%= @order.customer.first_name %>
              <% end %>
            </td>
          </tr>

          <tr>
            <th>配送先</th>
            <td>
              <p>〒<%= @order.postal_code %> <%= @order.address %></p>
              <%= @order.name %>
            </td>
          </tr>

          <tr>
            	<th>支払方法</th>
            	<td><%= @order.payment %></td>
          </tr>

        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="left-box">
      <div class = "col-xs-7 col-md-offset-1">
        <table = width="600">

          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.purchase_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.purchase_price*order_detail.amount %></td>
          </tr>
          <%end%>
        </table>
      </div>
    </div>
    
    <div class="right-box">
      <div class="col-xs-3">
        <table>
          <tr>
            <th>商品合計</th>
            <td><%= total_price_detail(@order.order_details).to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping%>円</td>
          </tr>
          <tr>
            <th>請求合計</th>
            <td><%= @order.claim.to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>