<div class="container main">
  <div class="row">
  <div class="col-xs-12" >
    <div class="page-guide" >
      <span>管理者ログイン</span>
    </div>
    <div class="row">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div id="login-form" class="customer-form col-xs-10 col-xs-offset-1">
          <table>
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.text_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <td> <%= f.label :password, "パスワード" %></td>
              <td>
                <%= f.password_field :password, autofocus: true, autocomplete: "current-password" %>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-xs-1"></div>
        <div class="row">
          <div class="actions wide-btn col-xs-12">
            <%= f.submit "ログイン", class: "btn btn-primary center-block"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>